body{
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p{
    color: #8f8f8f;
}
/* Headings */

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid{
    padding: 7% 15%;
}